{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.
{deps, [
  {cowboy, "2.7.0"},
  {jiffy, "1.0.3"},
  {lager, "3.8.0"}
]}.

{profiles, [{test, [{deps, [
  {meck, "0.8.13"}
]}]}]}.

{shell, [
  {config, "config/local.config"},
  {apps, [samson]}
]}.

{relx, [{release, {'samson', "0.1.0"}, [samson]},
  {dev_mode, false},
  {include_erts, false},
  {include_src, false},
  {sys_config_src, "config/sys.config.src"},
  {extended_start_script, true}]}.
