[{samson, [
  {port, 8080},
  {google_chat_endpoint, "endpoint"},
  {duckling_api, "http://localhost:8000/parse"},
  {rasa_intent_api, "http://localhost:5000/parse"}]},
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, [
        {level, info},
        {formatter, lager_default_formatter},
        {formatter_config, [time, color, " [", severity, "] ", "[", pid, ":", module, ":", function, "] ", message, "\e[0m\r\n"]}
      ]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
  ]}
].
